@import url('https://fonts.googleapis.com/css2?family=Tiro+Telugu:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Tiro Telugu', serif;;
}

#main{
    background-image: url(images/love.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}



h2{
    font-size: 5rem;
    color: rgb(239, 15, 112);
    font-weight: 500;
    letter-spacing: 0.5rem;
    font-style: italic;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.5rem;
    border-radius: 3px;
    margin-top: 1.5rem;
}

h4{
    font-size: 2.5rem;
    color: rgb(255, 174, 0);
    font-weight: 400;
    letter-spacing: 0.3rem;
    font-style: italic;
}

.container{
    width: 100%;
    display: flex;
    /* margin: 8rem 3rem 0; */
    /* justify-content: space-evenly; */
}

.container .item{
    width: 15rem;
    height: 15rem;
    padding: 0.5rem;
}

.container .big-text{
    font-size: 10rem;
    color: rgb(252, 3, 119);
    font-weight: 200;
    line-height: 1;
}

.container span{
    font-size: 2rem;
    color: rgb(252, 3, 119);
    font-weight: 100;
}

@media screen and (max-width: 430px) {
    #main{
        background-image: url(images/1.jpg);
        background-size: cover;
        background-position: center center;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    
    
    h2{
        font-size: 1.5rem;
        color: rgb(239, 15, 112);
        font-weight: 800;
        letter-spacing: 0.3rem;
        font-style: italic;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 0.5rem;
        border-radius: 3px;
    }
    
    h4{
        font-size: 1.2rem;
        margin-top: 0.5rem;
        color: rgb(255, 174, 0);
        font-weight: 400;
        letter-spacing: 0.2rem;
        font-style: italic;
    }
    
    .container{
        display: flex;
        justify-content: space-around;
        margin-top: 1rem;
        margin-left: 1.5rem;
    }
    
    .container .item{
        width: 7rem;
        height: 7rem;
        padding: 1rem;
        margin-bottom: 1.5rem;
        position: relative;
    }

    .heart{
        position: relative; /* parent position */
        width: 40px;
        height: 40px;
        /* margin: 80px auto; */
        background-color: rgb(237, 34, 102);
        margin-bottom: 20px;
    }

    .heart:before {
        position: absolute; /* vị trí phụ thuộc vào parent position */
        width: 40px;
        height: 40px;
        content: '';    /* khởi tạo rỗng cho thẻ giả */
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%; /* bo tròn 4 góc của div để tạo hình tròn */
        background-color: rgb(237, 34, 102);
        bottom: 0px;
        left: -20px;   /* vì div parent rộng 200px nên di chuyển before sang trái 100px để tâm before nằm trên cạnh dọc của div parent */
    }

    .heart:after {
        position: absolute;
        width: 40px;
        height: 40px;
        content: '';
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        background-color: rgb(237, 34, 102);
        top: -20px;
        right: 0px;
    }

    .heart {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    
    .container .big-text{
        font-size: 2rem;
        color: rgb(255, 174, 0);
        font-weight: 200;
        line-height: 1;
        position: absolute;
        top: 10%;
        right: 45%;
        font-style: italic;

    }
    
    .container span{
        font-size: 1rem;
        color: rgb(255, 153, 0);
        font-weight: 100;
        padding-left: 7px;
        font-weight: 500;
        font-style: italic;
    }
    #bottom {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 7rem;
    }
    
    #bottom .cicle{
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        border: 3px solid rgb(237, 34, 102) ;
        position: relative;
        margin: 0 3.5rem;
    }

    #bottom .cicle img{
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    #bottom .fa-heart{
        font-size: 3.5rem;
        color: rgb(237, 34, 102);
        margin-top: 3rem;
    }

    #bottom .item{
        text-align: center;
    }

    #bottom .item p{
        color: rgb(253, 253, 253);
        font-weight: 500;
        font-style: italic;
        display: inline;
    }

    #bottom .item .age{
        font-size: 1rem;
        color: #fff;
        display: inline;
        border-radius: 10px;
        padding: 4px 6px;
    }

    #bottom .item .age.male{
        background-color: rgb(19, 128, 238);
    }

    #bottom .item .age.female{
        background-color: rgb(238, 19, 150);
    }

    
  }
  


